<div class="container">
<div class="resume">
    <header class="page-header">
    <h1 class="page-title">List of users</h1>
  </header>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading resume-heading">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-xs-12 col-sm-4">
              <figure>
                <img class="img-circle img-responsive" alt="" src="{{ users?.image }}">
              </figure>
              
              <div class="row">
                <div class="col-xs-12 social-btns">
                  
                    <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                      <a href="#" class="btn btn-social btn-block btn-google">
                        <i class="fa fa-google"></i> </a>
                    </div>
                  
                    <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                      <a href="#" class="btn btn-social btn-block btn-facebook">
                        <i class="fa fa-facebook"></i> </a>
                    </div>
                  
                    <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                      <a href="#" class="btn btn-social btn-block btn-twitter">
                        <i class="fa fa-twitter"></i> </a>
                    </div>
                  
                    <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                      <a href="#" class="btn btn-social btn-block btn-linkedin">
                        <i class="fa fa-linkedin"></i> </a>
                    </div>
                  
                    <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                      <a href="#" class="btn btn-social btn-block btn-github">
                        <i class="fa fa-github"></i> </a>
                    </div>
                  
                    <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                      <a href="#" class="btn btn-social btn-block btn-stackoverflow">
                        <i class="fa fa-stack-overflow"></i> </a>
                    </div>
                  
                </div>
              </div>
              
            </div>

            <div class="col-xs-12 col-sm-8" >
              <ul class="list-group"*ngFor = "let key of usersKeys" >
                <li class="list-group-item" >{{users[key].name }}</li>
                <li class="list-group-item"><i class="fa fa-genderless"></i>{{ users[key].gender }}</li>
                <li class="list-group-item"><i class="fa fa-birthday-cake"></i> {{ users[key].dob  }}</li>
                <li class="list-group-item"><i class="fa fa-phone"></i> {{ users[key].phone  }}</li>
                <li class="list-group-item"><i class="fa fa-envelope"></i> {{ users[key].email }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div  *ngFor = "let key of messagesKeys">
        <h4>{{messages[key].title}}  <span style="color: rgb(126, 128, 0);font-size: 14px;">({{messages[key].created_at.date | date}})</span></h4>
        <p>
         {{messages[key].body}}
        </p>        
        <button type="button" class="btn btn-warning" (click)="deleteMessage(key)">Delete</button>
      </div>
      <div class="bs-callout bs-callout-danger" *ngIf="length == 0">
        No Messages Yet! Go to <a routerLink="/feed">Feed</a> to see and send messages
      </div>
    </div>

  </div>
</div>
    
</div>

</div>
<ng4-loading-spinner> </ng4-loading-spinner>
