<app-create-message (addMessage)="optimisticAdd($event)" (addMessagePs)= "pasemisticAdd()"></app-create-message>

<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
	<h1>Feed</h1>
    <div class="panel panel-default">    	
		<div class="bs-callout bs-callout-danger" *ngFor = "let key of messagesKeys">
			<table>
				<tr>
					<td style="width: 120px;">
						<a routerLink="/show-user/{{messages[key].user_id}}"><img src="{{messages[key].image}}" alt="Avatar" style="max-width: 100px;"/></a>
					</td>
					<td>
						<h4>{{messages[key].title}}</h4>
					    <p>
					     {{messages[key].body}}
					    </p>        
					    <button *ngIf="!messages[key].liked" class="btn btn-default" (click)="like(key)"><i class="fa fa-thumbs-up"></i>Like ({{messages[key].count}})</button>			
					    <button *ngIf="messages[key].liked" class="btn btn-primary" (click)="dislike(messages[key].ident, key)"><i class="fa fa-thumbs-down"></i>Like ({{messages[key].count}})</button>			
					</td>
				</tr>	
			</table>		    
		</div>
	</div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>